/* Add layouts here */

/* Layout 1 */
/* .navigation {
    display: flex;
    justify-content: flex-end;
}

.links ul {
    display: flex;
}

.links li {
    flex: auto;
} */

/* Layout 2 */

/* Layout 3 */

/* Layout 4 */

