/* Add layouts here */

/* Layout 1 */
/* .navigation {
    display: flex;
    justify-content: flex-end;
}

.links ul {
    display: flex;
}

.links li {
    flex: auto;
} */

/* Layout 2 */
/* .navigation {
  display: flex;
  justify-content: flex-end;
}
.links {
  display: flex;
  justify-content: flex-end;
} */

/* Layout 3 */
body {
    display: flex;
    flex-direction: column;
}

header {
    order: -2
}

footer {
    order: -1
}

.middle {
    order: 0;
    display: flex;
    flex-direction: row;
}

main { 
    order: 0;
}

.navigation {
    order: -1;
}

.links {
    order: 1;
}
/* Layout 4 */