/* Add layouts here */

/* Layout 1 */
/* .navigation {
    display: flex;
    justify-content: flex-end;
}

.links ul {
    display: flex;
}

.links li {
    flex: auto;
} */

/* Layout 2 */
/* .navigation {
  display: flex;
  justify-content: flex-end;
}
.links {
  display: flex;
  justify-content: flex-end;
} */

/* Layout 3 */
body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    order: -2
}

footer {
    background-color: green;
    order: -1
}

main { 
    background-color: blue;
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    background-color: pink;
}

.links {
    display: flex;
    justify-content: flex-end;
    background-color: pink;
}
/* Layout 4 */